{% extends 'Emp_Operations/base.html' %}
{% block content %}
	<div class="container">
		<h1 align="center">We believe everyone <br/>deserves excellent future.</h1>
		<p align="center" class="text-muted">In 2018, we started Maca with the simple goal of giving the world great skin.<br/> From that day forward we have stopped at nothing to create the most original,<br/> pure and effective formulas in the skincare game. <br/><br/>

		We’ve personally searched the world for the highest quality ethically sourced<br/> organic raw materials. Digging for steam-distilled therapeutic-grade essential<br/> oils. Handpicking fields for plant-based food-grade cold-pressed oils. Visiting <br/>the plants that will be recycling and reusing our compostable packaging. <br/><br/>

		We want you to love your skin, and we want your daily bathing and skincare <br/>rituals to be as luxurious and guilt-free as possible. <br/>
		</p>
		<div class="row">
			<div class="col-md-6">
				<img src="https://hbr.org/resources/images/article_assets/2022/03/Mar22_21_1351732161.jpg">
			</div>
		</div>
	</div>
{% endblock content %}