{% extends 'Emp_Operations/base.html' %}
{% block content %}
	<div class="container">
		<h1>Abstract View Of Our Employees</h1>
		<div class="row">
			{% for i in emps %}
			<div class="col">
				<br/>
				<div class="card" style="width: 18rem;">
				  <img src="{{ i.img_url }}" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">{{ i.f_name }}   {{ i.l_name }}</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    
				  </div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}