{% extends 'Emp_Operations/base.html' %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<br/><br/><br/><br/><br/>
				<h1>Say Hello !</h1>
				<br/>
				<br/>
				<p class="text-muted">The beauty of your story is that it’s<br/> going to continue to evolve and your<br/> site can evolve with it. </p>
				<br/><br/>
				<br/>
				<h3>nishatsk210@gmail.com</h3>
				<h2>(+91)9822310562</h2>
			</div>
			<div class="col-md-6">
				<br/><br/><br/><br/>
				<div class="row">
					<div class="col">
					    <label for="name" class="form-label">Name</label>
    					<input type="text" class="form-control" id="name">
					</div>
					<div class="col">
					    <label for="inputEmail4" class="form-label">Email</label>
    					<input type="email" class="form-control" id="inputEmail4">
					</div>
				</div>
				<br>
				<div class="col">
						<label for="inputAddress" class="form-label">Address</label>
    					<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
				</div>
				<br/>
				<div class="col">
			    <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
			    <br/><br/>
			    <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-preview.jpg" >
			</div>
		</div>
		
	</div>
{% endblock content %}